<div>
  <%= link_to link, 'data-gid' => game.id do %>
    <%= game.id %>
    <%= (current_user.present? && game.player2_id == current_user.id ? 'Me' : game.player2.displayName) if game.player2.present? %>
    Vs.
    <%= current_user.present? && game.player1_id == current_user.id ? 'Me' : game.player1.displayName %>
  <% end %>
</div>
